<launch>
    <include file="$(find hesai_lidar)/launch/hesai_lidar.launch"/>
    <node pkg="hesai_lidar" name="sensor_status_server" type="hesai_sleep_mode_server.py" output="screen" required="true">
		<param name="server_ip" type="string" value="$(arg server_ip)"/>
	</node>
	<node pkg="hesai_lidar" name="sensor_status_client" type="hesai_sleep_mode_client.py" output="screen"/>
</launch>